<div class="container-md">
  <h1>Student List</h1>

  <table class="table table-success table-striped">
    <thead>
    <tr>
      <td>Name</td>
      <td>Student Serial Number</td>
      <td>Birthdate</td>
      <td>Phone Number</td>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.student_serial_number %></td>
        <td><%= student.birthdate %></td>
        <td><%= student.phone_number %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>