<%= form_with model: post do |form| %>
  <div>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>

  <div>
    <%= form.file_field :image %>
  </div>

  <%= form.submit %>
<% end %>